<div class="flex flex-col h-full">
    <div>
        <h1 class="text-4xl ">Browse <b>Awesome Events</b> happening near you!</h1>
        <h4 class="text-lg">brought to you by Nouraiz 😎</h4>
        <br>
        
        <form #formRef="ngForm" (ngSubmit)="search()" class="flex">
    
            <div>
                <label for="keyword" class="block pb-1.5">Search</label>
                <input name="keyword" type="text" class="text-field me-4" [(ngModel)]="form.keyword" placeholder="Enter Keyword">
            </div>
    
            <div>
                <label for="countryCode" class="block pb-1.5">Select Country</label>
                <select name="countryCode" [(ngModel)]="form.countryCode" class="text-field me-4">
                    <option value="" disabled selected>Select Country</option>
                    <option class="text-black" *ngFor="let country of countryCodes" [ngValue]="country.code">{{country.name}}</option>
                </select>
            </div>

            <div>
                <label for="keyword" class="block pb-1.5">Postal Code</label>
                <input name="keyword" type="number" class="text-field me-4" [(ngModel)]="form.postalCode" placeholder="Enter Postal Code">
            </div>
    
            <div>
                <label for="startDateTime" class="block pb-1.5">Events Starting After</label>
                <input name="startDateTime" type="datetime-local" class="text-field me-4" [(ngModel)]="form.startDateTime">
            </div>
    
            <div>
                <label for="endDateTime" class="block pb-1.5">Events Starting Before</label>
                <input name="endDateTime" type="datetime-local" class="text-field me-4" [(ngModel)]="form.endDateTime">
            </div>
            
            <div class="flex items-end">
                <button class="me-3" type="submit" class="text-field me-4" [disabled]="isLoading">
                    <div *ngIf="!isLoading;" class="fade-in-custom">GO!</div>
                    <ng-template *ngIf="isLoading" [ngTemplateOutlet]="loader" [ngTemplateOutletContext]="{appendClass: 'w-6 h-6 border-2 '}"></ng-template>
                </button>
            </div>

            <div *ngIf="isFormDirty" class="flex items-end">
                <button class="me-3" type="button" class="fade-in-custom text-field" [disabled]="isLoading" (click)="resetFilters()">
                    <div>Reset Filters</div>
                </button>
            </div>
    
    
        </form>
    
        <!-- {{isFormDirty | json}} -->
        <!-- {{form | json}} -->
    </div>

    <div class="grow pt-6">

        <div *ngIf="isLoading; else cards" class="h-full flex items-center justify-center">
            <ng-template [ngTemplateOutlet]="loader" [ngTemplateOutletContext]="{appendClass: 'h-20 w-20 border-8'}"></ng-template>
        </div>

        <div *ngIf="!events.length && !isLoading" class="h-full flex items-center justify-center fade-in-custom">
            <div class="text-3xl" *ngIf="isDirty" >No results found 🥲 Try searching again.</div>
            <div class="text-3xl" *ngIf="!isDirty">Search by using the filters above!</div>
        </div>

        <ng-template #cards>
            <ng-container *ngIf="events.length && !isLoading">
                <div class="grid grid-cols-3 gap-6 fade-in-custom">
                    <app-event-card *ngFor="let event of events" [event]="event"></app-event-card>
                </div>
                <div class="pt-6 pb-12 text-xl flex justify-end">
                    <div class="flex pagination-links-wrapper">
                        <button [disabled]="!pageLinks.first" class="me-3 rounded-full p-1 flex items-center justify-center h-12 w-12" (click)="search(pageLinks.first?.href)"><<</button>
                        <button [disabled]="!pageLinks.prev" class="rounded-full p-1 flex items-center justify-center h-12 w-12" (click)="search(pageLinks.prev?.href)"><</button>
                        <span class="mx-4 text-base flex items-center">{{page + 1}}</span>
                        <button [disabled]="!pageLinks.next" class="me-3 rounded-full p-1 flex items-center justify-center h-12 w-12" (click)="search(pageLinks.next?.href)">></button>
                        <button [disabled]="!pageLinks.last" class="me-3 rounded-full p-1 flex items-center justify-center h-12 w-12" (click)="search(pageLinks.last?.href)">>></button>
                    </div>
                </div>
            </ng-container>
        </ng-template>

    </div>

</div>

<!-- loader template -->
<ng-template #loader let-appendClass="appendClass">
    <div class="fade-in-custom">
        <div class="border-dashed rounded-full animate-spin border-blue-600" [class]="appendClass"></div>
    </div>
</ng-template>
